<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @kindergarten.name %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @kindergarten.branch %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @kindergarten.branch_id %>
</p>

<%= link_to 'Edit', edit_kindergarten_path(@kindergarten) %> |
<%= link_to 'Back', kindergartens_path %>
