<p id="notice"><%= notice %></p>

<h1>Classrooms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Teacher</th>
      <th>Branch ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if session[:licensee_branch_id].present? %>
      <% @branch_classrooms.each do |classroom| %>
        <tr>
        <td><%= classroom.name %></td>
        <td>
          <% classroom.teacher_classrooms.each do |teacher_classroom| %>
            <%= teacher_classroom.teacher.name %>, 
          <% end %>
        </td>
        <td><%= classroom.branch_id %></td>
        <td><%= link_to 'Show', classroom %></td>
        <td><%= link_to 'Edit', edit_classroom_path(classroom) %></td>
        <td><%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% else %> 
      <% @classrooms.each do |classroom| %>
        <tr>
        <td><%= classroom.name %></td>
        <td>
          <% classroom.teacher_classrooms.each do |teacher_classroom| %>
            <%= teacher_classroom.teacher.name %>, 
          <% end %>
        </td>
        <td><%= classroom.branch_id %></td>
        <td><%= link_to 'Show', classroom %></td>
        <td><%= link_to 'Edit', edit_classroom_path(classroom) %></td>
        <td><%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<% if session[:licensee_branch_id].present? %>
  <%= link_to 'Back', licensee_page_main_page_index_path %> | <%= link_to 'New Classroom', new_classroom_path %>
<% else %>
  <%= link_to 'Back', admin_page_main_page_index_path %> | <%= link_to 'New Classroom', new_classroom_path %>
<% end %>
