<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.text_field :height %>
  </div>
  
  <div class="field">
      <%= form.label :classroom_id %>
      <%= form.select :classroom_id, Classroom.all.map {|classroom| [classroom.name, classroom.id] }, { include_blank: "Please select your classroom" } %>
  </div>

  <div class="field">
    <%= form.label :branch %>
    <%= form.text_field :branch, value: session[:licensee_branch_name] %>
  </div>

  <!--<div class="field">-->
  <!--  <%#= form.label :brach_id %>-->
  <!--  <#%= form.text_field :brach_id, value: session[:licensee_branch_id] %>-->
  <!--</div>-->

  <div class="field">
    <%= form.label :english %>
    <%= form.text_field :english %>
  </div>

  <div class="field">
    <%= form.label :malay %>
    <%= form.text_field :malay %>
  </div>

  <div class="field">
    <%= form.label :chinese %>
    <%= form.text_field :chinese %>
  </div>

  <div class="field">
    <%= form.label :math %>
    <%= form.text_field :math %>
  </div>

  <div class="field">
    <%= form.label :conduct %>
    <%= form.text_field :conduct %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
