<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.text_field :height %>
  </div>
  
  <div class="field">
      <%= form.label :branch_id %>
      <%= form.select :branch_id, Branch.all.map {|branch| [branch.name, branch.id] }, { include_blank: "Please select your branch name" } %>
  </div>
  
  <div class="field">
      <%= form.label :classroom_id %>
      <%= form.select :classroom_id, Classroom.all.map {|classroom| [classroom.name, classroom.id] }, { include_blank: "Please select your classroom" } %>
  </div>

  <div class="field">
      <%= form.label :parent_id %>
      <%= form.select :parent_id, Parent.all.map {|parent| [parent.name, parent.id] }, { include_blank: "Please select your parent name" } %>
  </div>
  
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
