<p id="notice"><%= notice %></p>
<% if session[:parent_branch_id].present? %>
<h1>Exam Result</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>English</th>
      <th>Chinese</th>
      <th>Math</th>
      <th>Malay</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% else %>
<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Address</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Branch id</th>
      <th>Classroom</th>
      <th>Parent</th>
      <th>English</th>
      <th>Chinese</th>
      <th>Math</th>
      <th>Malay</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% end %>

  <tbody>
    <% if session[:licensee_branch_id].present? %>
      <% @branch_students.each do |student| %>
        <tr>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
        <td><%= student.gender %></td>
        <td><%= student.address %></td>
        <td><%= student.weight %></td>
        <td><%= student.height %></td>
        <td><%= student.branch_id %></td>
        <td><%= student.classroom.name %></td>
        <td><%= student.parent.name %></td>
        <% @results.each do |result| %>
          <% if result.student.id == student.id %>
            <td><%= result.english %></td>
            <td><%= result.chinese %></td>
            <td><%= result.math %></td>
            <td><%= result.malay %></td>
          <% end %>
        <% end %>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% elsif session[:parent_branch_id].present? %>
        <% @branch_parent_students.each do |student| %>
        <tr>
        <% @results.each do |result| %>
          <% if result.student.id == student.id %>
            <!--<%#= result.examination.title %><br>-->
            <td><%= student.name %></td>
            <td><%= result.english %></td>
            <td><%= result.chinese %></td>
            <td><%= result.math %></td>
            <td><%= result.malay %></td>
          <% end %>
        <% end %>
        </tr>
      <% end %>
    <% elsif session[:teacher_branch_id].present? %>
      <% @branch_teacher_students.each do |student| %>
        <tr>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
        <td><%= student.gender %></td>
        <td><%= student.address %></td>
        <td><%= student.weight %></td>
        <td><%= student.height %></td>
        <td><%= student.branch_id %></td>
        <td><%= student.classroom.name %></td>
        <td><%= student.parent.name %></td>
        <% @results.each do |result| %>
          <% if result.student.id == student.id %>
            <td><%= result.english %></td>
            <td><%= result.chinese %></td>
            <td><%= result.math %></td>
            <td><%= result.malay %></td>
          <% end %>
        <% end %>
        </tr>
      <% end %>  
    <% else %>
      <% @students.each do |student| %>
        <tr>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
        <td><%= student.gender %></td>
        <td><%= student.address %></td>
        <td><%= student.weight %></td>
        <td><%= student.height %></td>
        <td><%= student.branch_id %></td>
        <td><%= student.classroom.name %></td>
        <td><%= student.parent.name %></td>
        <% @results.each do |result| %>
          <% if result.student.id == student.id %>
            <td><%= result.english %></td>
            <td><%= result.chinese %></td>
            <td><%= result.math %></td>
            <td><%= result.malay %></td>
          <% end %>
        <% end %>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<% if session[:licensee_branch_id].present? %>
  <%= link_to 'Back', licensee_page_main_page_index_path %> | <%= link_to 'New Student', new_student_path %>
<% elsif session[:parent_branch_id].present? %>
  <%= link_to 'Back', parent_page_main_page_index_path %>
<% elsif session[:teacher_branch_id].present? %>
  <%= link_to 'Back', teacher_page_main_page_index_path %>
<% else %>
  <%= link_to 'Back', admin_page_main_page_index_path %> | <%= link_to 'New Student', new_student_path %>
<% end %>