<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @student.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @student.height %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @student.branch_id %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @student.classroom.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @student.parent.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @student.image.variant(resize: "200x200") if @student.image.attached? %>
</p>

<!--<%# @results.each do |result| %>-->
<!--  <%# if result.student_id == student.id %>-->
<!--    <p>-->
<!--      <strong>English:</strong>-->
<!--      <%#= result.english %>-->
<!--    </p>-->
<!--  <%# end %>-->
<!--<%# end %>-->

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
