<div>
  <%= form_with(model: bullentin, local: true) do |form| %>
    <% if bullentin.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(bullentin.errors.count, "error") %> prohibited this bullentin from being saved:</h2>
  
        <ul>
        <% bullentin.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <table class="table table-dark table-hover">
        <tr>
          <th><%= form.label :topis %></th>
          <td><%= form.text_field :topis %></td>
        </tr>
        
        <tr>
          <th><%= form.label :date %></th>
          <td><%= form.text_field :date %></td>
        </tr>
        
        <tr>
          <th><%= form.label :content %></th>
          <td>%= form.text_field :content %></td>
        </tr>
      </table>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>