<p id="notice"><%= notice %></p>

<h1>Bullentins</h1>

<table>
  <thead>
    <tr>
      <th>Topis</th>
      <th>Date</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bullentins.each do |bullentin| %>
      <tr>
        <td><%= bullentin.topis %></td>
        <td><%= bullentin.date %></td>
        <td><%= bullentin.content %></td>
        <td><%= link_to 'Show', bullentin %></td>
        <td><%= link_to 'Edit', edit_bullentin_path(bullentin) %></td>
        <td><%= link_to 'Destroy', bullentin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', admin_page_main_page_index_path %> | <%= link_to 'New Bullentin', new_bullentin_path %>
