<p id="notice"><%= notice %></p>

<p>
  <strong>Topis:</strong>
  <%= @bullentin.topis %>
</p>

<p>
  <strong>Date:</strong>
  <%= @bullentin.date %>
</p>

<p>
  <strong>Content:</strong>
  <%= @bullentin.content %>
</p>

<%= link_to 'Edit', edit_bullentin_path(@bullentin) %> |
<%= link_to 'Back', bullentins_path %>
