<%= form_with(model: result, local: true) do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= form.label :examination_id %>
      <%= form.select :examination_id, Examination.all.map {|examination| [examination.title, examination.id] }, { include_blank: "Please select your exam name" } %>
  </div>

  <div class="field">
      <%= form.label :subject_id %>
      <%= form.select :subject_id, Subject.all.map {|subject| [subject.title, subject.id] }, { include_blank: "Please select your subject name" } %>
  </div>

  <div class="field">
      <%= form.label :student_id %>
      <%= form.select :student_id, Student.all.map {|student| [student.name, student.id] }, { include_blank: "Please select your student name" } %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.text_field :result %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
