<p id="notice"><%= notice %></p>

<h1>Results</h1>

<table>
  <thead>
    <tr>
      <th>Test</th>
      <th>Student</th>
      <th>English</th>
      <th>Chinese</th>
      <th>Math</th>
      <th>Malay</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <!--<%# if session[:licensee_branch_id].present? %>-->
    <!--  <%# @branch_results.each do |result| %>-->
    <!--    <tr>-->
    <!--    <td><%#= result.examination_id %></td>-->
    <!--    <td><%#= result.subject_id %></td>-->
    <!--    <td><%#= result.student_id %></td>-->
    <!--    <td><%#= result.result %></td>-->
    <!--    <td><%#= link_to 'Show', result %></td>-->
    <!--    <td><%#= link_to 'Edit', edit_result_path(result) %></td>-->
    <!--    <td><%#= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    <!--    </tr>-->
    <!--  <%# end %>-->
    <!--<%# else %>-->
      <% @results.each do |result| %>
        <tr>
        <td><%= result.examination.title %></td>
        <td><%= result.student.name %></td>
        <td><%= result.english %></td>
        <td><%= result.chinese %></td>
        <td><%= result.math %></td>
        <td><%= result.malay %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <%# end %>
  </tbody>
</table>

<br>
<% if session[:teacher_branch_id].present? %>
  <%= link_to 'Back', teacher_page_main_page_index_path %> | <%#= link_to 'New Result', new_result_path %>
<% else %>
  <%= link_to 'Back', admin_page_main_page_index_path %> | <%= link_to 'New Result', new_result_path %>
<% end %>