<p id="notice"><%= notice %></p>

<p>
  <strong>Test:</strong>
  <%= @result.examination.title %>
</p>

<p>
  <strong>Student:</strong>
  <%= @result.student.name %>
</p>

<p>
  <strong>English:</strong>
  <%= @result.english %>
</p>

<p>
  <strong>Chinese:</strong>
  <%= @result.chinese %>
</p>

<p>
  <strong>Math:</strong>
  <%= @result.math %>
</p>

<p>
  <strong>Malay:</strong>
  <%= @result.malay %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
