<p id="notice"><%= notice %></p>

<p>
  <strong>Test:</strong>
  <%= @result.examination_id %>
</p>

<p>
  <strong>Subkect:</strong>
  <%= @result.subject_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @result.student_id %>
</p>

<p>
  <strong>Result:</strong>
  <%= @result.result %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
