<p id="notice"><%= notice %></p>

<h1>Staffs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Type ID</th>
      <th>Branch id</th>
      <th>Classrooms</th>
      <th>Subjects</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.password %></td>
        <td><%= teacher.type_id %></td>
        <td><%= teacher.branch_id %></td>
        <td>
          <% teacher.teacher_classrooms.each do |teacher_classroom| %>
            <%= teacher_classroom.classroom.name %>,
          <% end %>
        </td>
        <td>
          <% teacher.teacher_subjects.each do |teacher_subject| %>
            <%= teacher_subject.subject.title %>,
          <% end %>
        </td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Staff', new_teacher_path %>
