<p id="notice"><%= notice %></p>

<h1>Staffs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Type ID</th>
      <th>Branch id</th>
      <th>Classrooms</th>
      <th>Subjects</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if session[:licensee_branch_id].present? %>
      <% @branch_teachers.each do |teacher| %>
        <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.password %></td>
        <td><%= teacher.type_id %></td>
        <td><%= teacher.branch_id %></td>
        <td>
          <% teacher.classrooms.each do |classroom| %>
            <%= classroom.name %>,
          <% end %>
        </td>
        <td>
          <% teacher.teacher_subjects.each do |teacher_subject| %>
            <%= teacher_subject.subject.title %>,
          <% end %>
        </td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% else %>
      <% @teachers.each do |teacher| %>
        <tr>
        <td><%= teacher.name %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.password %></td>
        <td><%= teacher.type_id %></td>
        <td><%= teacher.branch_id %></td>
        <td>
          <% teacher.classrooms.each do |classroom| %>
            <%= classroom.name %>,
          <% end %>
        </td>
        <td>
          <% teacher.teacher_subjects.each do |teacher_subject| %>
            <%= teacher_subject.subject.title %>,
          <% end %>
        </td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>  
    <% end %>
  </tbody>
</table>

<br>
<% if session[:licensee_branch_id].present? %>
  <%= link_to 'Back', licensee_page_main_page_index_path %> | <%= link_to 'New Teacher', new_teacher_path %>
<% else %>
  <%= link_to 'Back', admin_page_main_page_index_path %> | <%= link_to 'New Teacher', new_teacher_path %>
<% end %>