<div class="container">
  <%= form_with(model: parent, local: true) do |form| %>
    <% if parent.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(parent.errors.count, "error") %> prohibited this parent from being saved:</h2>
  
        <ul>
        <% parent.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <table class="table table-dark table-hover">
        <tr>
          <th><%= form.label :name %></th>
          <td><%= form.text_field :name %></td>
        </tr>
        
        <tr>
          <th><%= form.label :email %></th>
          <td><%= form.text_field :email %></td>
        </tr>
    
        <tr>
          <th><%= form.label :password %></th>
          <td><%= form.text_field :password %></td>
        </tr>
        
      </table>
    </div>
  
  <div class="field">
      <%= form.label :branch_id %>
      <%= form.select :branch_id, Branch.all.map {|branch| [branch.name, branch.id] }, { include_blank: "Please select your branch name" } %>
  </div>

  <div class="class="actions center_text"">
    <%= form.submit %>
  </div>
<% end %>
</div>
