<h1>Welcome to Kiddoy</h1>

<h3>Hi <%= session[:parent_name] %>, below are your children portfolio and result in our kindergarten</h3>
  
<% @students.each do |student| %>
  <!--<%# if student.parent_id == session[:parent_id] %>-->
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
        <tr>
           <td><%= image_tag student.image.variant(resize: "300x300") if student.image.attached? %></td>
          <td>
            <p>
      <strong>Name:</strong>
      <%= student.name %>
    </p>

    <p>
      <strong>Age:</strong>
      <%= student.age %>
    </p>

    <p>
      <strong>Gender:</strong>
      <%= student.gender %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= student.address %>
    </p>

    <p>
      <strong>Weight:</strong>
      <%= student.weight %>
    </p>

    <p>
      <strong>Height:</strong>
      <%= student.height %>
    </p>
    
    <%# @results.each do |result| %>
      <%#= link_to 'Result', result_path(results.student.id) %>
    <%# end %>
    <br><br>
          </td>
         
    
        </tr>
    </tbody>
  </table> 
    
<% end %>
  <h3>Result</h3><br>
  <td><%= link_to 'View result', students_path %></td>