<h1>Welcome to Kiddoy</h1>

<h3>Hi <%= session[:teacher_name] %>, below are your portfolio </h3>
  
<% @teachers.each do |teacher| %>
  <% if teacher.id == session[:teacher_id] %>
    <table class="table table-striped">
      <tr>
           <th style="width:20%">Name</th>
           <th style="width:10%">Age</th>
           <th style="width:10%">Qualification</th>
           <th style="width:15%">Salary</th>
           <th style="width:15%">Email</th>
           <th style="width:15%">Password</th>
           <th style="width:15%">Branch</th>
      </tr>
         
      <tr>
               <td><%= teacher.name %></td>
               <td><%= teacher.age %></td>
               <td><%= teacher.qualification %></td>
               <td><%= teacher.salary %></td>
               <td><%= teacher.email %></td>
               <td><%= teacher.password %></td>
               <td><%= teacher.branch %></td>
      </tr>
    </table>
  <% end %>
<% end %>