<h1>Welcome to Kiddoy</h1>

<h3>Hi <%= session[:teacher_name] %>, below are your portfolio </h3>
  
<% @teachers.each do |teacher| %>
  <% if teacher.id == session[:teacher_id] %>
    <p>
      <strong>Email:</strong>
      <%= teacher.email %>
    </p>

    <p>
      <strong>Password:</strong>
      <%= teacher.password %>
    </p>

    <p>
      <strong>Branch:</strong>
      <%= teacher.branch.name %>
    </p>

    <p>
      <strong>Assigned classrooms:</strong>
      <% teacher.classrooms.each do |classroom|  %>
      <%= classroom.name %>
      <% end %>
    </p>

    <p>
      <strong>Assigned subjects:</strong>
      <% teacher.subjects.each do |subject|  %>
      <%= subject.title %>
      <% end %>
    </p>

  <% end %>
<% end %>

<%= link_to 'Student Profile', students_path %>
<%= link_to 'Exam Result', results_path %>