<p id="notice"><%= notice %></p>

<p>
  <strong>Branch:</strong>
  <%= @test.branch_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @test.year %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
