<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @licensee.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @licensee.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @licensee.password %>
</p>

<p>
  <strong>Password:</strong>
  <%= @licensee.branch.name %>
</p>

<%= link_to 'Edit', edit_licensee_path(@licensee) %> |
<%= link_to 'Back', licensees_path %>
